html {
    background: url(../img/backgrounds/twoTone.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
  width: 90%;
  background-color: rgba(217, 217, 217,.60);
}
footer {
  width: 90%;
}
.green { /* more like gray really */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    width:100%;
    min-height: 400px;
}
.vertical-align {
    display: flex;
    align-items: center;
}
p {
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
    font-size: 20px;
}
figcaption {
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}
row {
  display: inline-block;
}
div.paragraph {
  width: 75%;
}
.photos img {
  float: left;
  position: relative;
}
.photos figure {
  display: inline-block;
  width: 31%;
}
.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.0s;
          transition: transform 0.0s;
}
.card__back {
    position: absolute;
    padding-top: 11px;
    padding-left: 4px;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
/* click effect */
.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.card {
  position: relative;
  text-align: center;
}
/* card fronts and backs */
.card__front,
.card__back {
  top: 0;
  width: 100%;
  height: auto;
}
