@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300');

.navbar {
  margin-bottom: 0;
  background-color: #85144b;
  z-index: 5;
  border: 0;
  font-size: 12px !important;
  line-height: 1.5 !important;
  letter-spacing: 2px;
  border-radius: 0;
  min-height: 35px;
  height: 35px;
}
.galeria {
      width: 900px;
      height: 100%;
      margin: auto;
      background: rgba(0,0,0,0);
      list-style: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
}
.galeria li {
    margin: 5px;
    position: relative;
  -webkit-column-break-inside: avoid;
}
.galeria img {
      width: 220px;
}
.glyphicon-remove {
  font-size: 40px;
  text-decoration: none;
  color: #85144b;
}
.glyphicon-remove:hover {
  text-decoration: none;
  color: #fff;
}
.modal {
      display: none;
      overflow: hidden;
}
.modal:target {
      display: block;
      position: fixed;
      background: rgba(0,0,0,0.8);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
}
.modal h3 {
      color: #fff;
      font-size: 30px;
      text-align: center;
      margin: 15px 0;
}
.imagen {
      width: 100%;
      height: 90%;

      display: flex;
      justify-content: center;
      align-items: center;
}
.imagen img {
      height: 600px;
      max-width: 100%
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
}
.jumbotron {
  background-color: rgba(0,0,0,0);
  margin: 0;
  padding-bottom: 50px;
}
.pageTitle {
  font-family: 'Poiret One', cursive;
  font-size: 60px;
}
.navbar .navbar-brand {
  color: #E6E6E6 !important;
  margin-top: 7px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar li a {
  color: #E6E6E6 !important;
  background-color: #85144b !important;
  margin-top: 7px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.btn-primary-outline {
  border: 1px solid #85144b;
  color: #85144b;
  background-color: rgba(0,0,0,0);
}
.btn-primary-outline a {
  color: #85144b;
}
.navbar li a:hover, .navbar-nav li.active a {
  color: #85144b !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
  height: 35px;
  margin: 0;
}
.indexTitle {
  background-color: #85144b; /* maroon */
  color: #E6E6E6;
  padding: 100px 25px;
  font-family: 'Poiret One', cursive;
}
.bg-gray {
  background-color: #f6f6f6;
}
.container-fluid {
  padding: 60px 50px;
}
.logo {
  font-size: 100px;
}
@media screen and (max-width: 500px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}
.thumbnail {
  padding: 0;
  border: none;
  border-radius: 0;
}
.thumbnail img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}
.container {
  width: 90%;
}
#projects {
  width: 65%;
}
#projects img {
  width: 200px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#projects a, #projects a:hover {
  text-decoration: none;
  color: #000;
}
.volunteerPics img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 700px;
}
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #85144b;
}
.carousel-indicators li {
  border-color: #85144b;
}
.carousel-indicators li.active {
  background-color: #85144b;
}
div #sketchCarousel {
  width: 85%;
}
.item img {
  padding: 10 10 10 10;
  max-height: 600px;
}
.cover {
  padding: 0;
  max-width: 100%;
}
footer.container-fluid {
  padding-top: 40px;
  padding-bottom: 40px;
}
