.navbar {
  margin-bottom: 0;
  background-color: #85144b;
  z-index: 5;
  border: 0;
  font-size: 12px !important;
  line-height: 1.5 !important;
  letter-spacing: 2px;
  border-radius: 0;
  min-height: 35px;
  height: 35px;
}
.navbar li a, .navbar .navbar-brand {
  color: #E6E6E6 !important;
  margin-top: 7px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.btn-primary-outline {
  border: 1px solid #85144b;
  color: #85144b;
  background-color: rgba(0,0,0,0);
}
.btn-primary-outline a {
  color: #85144b;
}
.navbar li a:hover, .navbar-nav li.active a {
  color: #85144b !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
  height: 35px;
  margin: 0;
}
.jumbotron {
  background-color: #85144b; /* maroon */
  color: #E6E6E6;
  padding: 100px 25px;
}
.bg-gray {
  background-color: #f6f6f6;
}
.container-fluid {
  padding: 60px 50px;
}
.logo {
  font-size: 100px;
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #85144b;
}
.carousel-indicators li {
  border-color: #85144b;
}
.carousel-indicators li.active {
  background-color: #85144b;
}
.item img {
  padding: 10 10 10 10;
  max-height: 600px;
}
